.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.home-section {
  margin-top: 2rem;
  text-align: left;
}

.home-section h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.home-section__description {
  margin-bottom: 1rem;
  text-align: center;
  color: #6c757d;
}
